@media only screen and (max-width: 600px) {

header{
    background-color: lightblue;
    width: 900px;
}

h1{
    text-align: left;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    height: 70px;
    width: 900px;
}

}